.user,.upwd{
  width: 22px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  position:absolute;
  bottom:0;
}

.taobao,
.weixin,
.weibo,
.qq {
  width: 25%;
  height: 45px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.shoucangjia,
.youhuiquan,
.qianbao,
.ban,
.dingdan,
.wenda {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.message {
  width: 22px;
  height: 50px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.erweima {
  width: 22px;
  height: 50px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.chilun {
  width: 22px;
  height: 50px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.boyhead {
  width: 80px;
  vertical-align: -0.15em;
  height: 80px;
  fill: currentColor;
  overflow: hidden;
}

.zuojiantou {
  width: 50px;
  height: 50px;
  margin: 60px 0 40px -10px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.home {
  width: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.location {
  width: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.note {
  width: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.mypersonal {
  width: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.search {
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconmessage {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconshaixuan {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iicondropdown-white{
  width: 23px;
  height: 23px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icondropdown{
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.search-white{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconblack_favorite{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.zuojiantou_small{
  width: 35px;
  height: 35px;
  vertical-align: -0.15em;
  fill: black;
  overflow: hidden;
}
.iconforward{
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconforward-small{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icondidian{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconshijian{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconnv{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconfavorable{
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconblack_favorite-purple{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconstar-yellow{
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconsend-purple-copy{
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconcomment{
  width: 15px;
  height: 15px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}